---
layout: page
title: Welcome
tagline: zhaosen
---
{% include JB/setup %}




<!-- ## Pages List -->
<!-- <ul>
{% for member in site.data.members %}
  <li>
    <a href="https://github.com/{{ member.github }}">
      {{ member.name }}
    </a>
  </li>
{% endfor %}
</ul> -->
<div class="row">
<div class="nav_list">
  <ul class="posts">
  {% for post in paginator.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> 
    <!-- <p>{{post.excerpt}}</p> -->
    </li>
  {% endfor %}
</ul>
<!--分页链接-->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Ne xt &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
</div>
<div class="resume">
  <img src="{{ BASE_PATH }}/assets/pictures/me.jpg"  class="img-responsive img-rounded" />
<address>
  <strong>Twitter, Inc.</strong><br>
  1355 Market Street, Suite 900<br>
  San Francisco, CA 94103<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>
<address>
  <strong>Wang Zhaosen</strong><br>
  <a href="mailto:#">wanlplab@gmail.com</a>
</address>
</div>
  
</div>
<!-- {% for category in site.categories %}
<h3>{{ category | first }}</h3> 
<ul class="arc-list">
{% for post in category.last %} 
<li>{{ post.date | date:"%Y/%m/%d"}}<a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul> 
{% endfor %} -->



  


